<br>
<br>
<br>
<h2>Edit Your Inventory List</h2>

<%= form_for(@inventory_list) do |f| %> 
    <%= f.label :name, "name: " %>
    <%= f.text_field :name  %> 
    <br>
    <br>
    <%= f.label :item_count, "Item Count: " %>
    <%= f.text_field :item_count %>
    <br>
    <br>
    <%= f.label :date, "Date: " %>
    <%= f.text_field :date %>
    <br>
    <br>
    <%= f.label :time, "Time: " %>
    <%= f.text_field :time %>
    <br>
    <br>
    <%= f.label :list_content, "List Content: " %>
    <%= f.text_field :list_content %>
    <br>
    <br>
    <%= f.submit "Submit" %>
<% end %>

<p class="button"><%= button_to 'Delete Inventory List', inventory_lists_path(@inventory_list), method: 'delete' %></p>

<p><%= button_to 'Return to the homepage', users_path, method: 'get' %></p>