<br>
<br>
<br>
<h1>Name: <%= @inventory_list.name %></h1>
<h4>Item Count: <%= @inventory_list.item_count%></h4>
<h4>Date: <%=  @inventory_list.date%></h4>
<h4>Time: <%=  @inventory_list.time%></h4>
<h4>List Content: <%=  @inventory_list.list_content%></h4>
<br><br>

<%= form_for(@inventory_list) do |f| %>
    <% if @inventory_list.user == current_user %>
        <p class="button"><%= link_to 'Edit List', edit_user_inventory_list_path(@inventory_list) %></p>
    <% end %>

    <% if @inventory_list.user == current_user %>
        <p class="button"><%= button_to 'Delete List', inventory_list_path(@inventory_list), method: 'delete' %></p>
    <% end %>

<% end %>

<%= link_to "Add a comment", new_inventory_list_comment_path(@inventory_list)  %>
<br><br>
<h4><strong>Comments: </strong></h4>
<% @inventory_list.comments.each do |comment| %>
    <ul>
        <li><strong><%= comment.user.username %></strong> says "<%= comment.content %>"</li>
    </ul>
<% end %>