<h1><%= @inventory_list.name %></h1>
<h4><%= @inventory_list.item_count%></h4>
<h4><%= @inventory_list.date%></h4>
<h4><%= @inventory_list.time%></h4>
<h4><%= @inventory_list.list_content%></h4>
<br><br>

